.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    margin-top: 50px;
}
input{
    color: aliceblue;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 30px;
    margin-bottom: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid aliceblue;
}

input:focus{
    border-bottom: 2px solid #726AF8;
    outline: none;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
